

* {
    outline: 2px solid red;
    box-sizing: border-box;
}

.navigation-bar {
    list-style-type: none;
    outline: 4px solid black;
    padding: 10px;
    gap: 20px;
    display: flex;
}

.navigation-button {
    outline: 2px solid blue;
    margin: 30px;
    background-color: blueviolet;
    flex: auto;
}

.box {
    outline: 2px solid pink;
}

.container {
    display: flex;
}

.box {
    flex: auto;
    padding: 30px;
}